/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/

body {
    background-color: #bdc3c7;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #bdc3c7;
}

.profil{
    width: 250px;
    background-color: #31363b;
    box-shadow: 2px 2px 5px 2px grey;
    margin: 30px 20px;
}

.hlavicka{
    position: relative;
}

.foto{
    width: 250px;
}

.logo{
    border-radius: 50%;
    background-color: #b92e81;
    position: absolute;
    margin-left: -80px;
    margin-top: 140px;
}

.obsah{
    padding: 20px;
}

h1{
    color: white;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

h1,
.odkazy{
    font-family: 'Montserrat', sans-serif;  
}

.odkazy{
    text-transform: uppercase;
    font-size: 16px; 
    padding: 0;
    margin: 0;
    height: 90px;
}

a{
    text-decoration: none;
    color: #bdc3c7;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;   
}

li{
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

a:hover{
    color: white;
}

li.facebook:hover{
    background-color: #3b5998;
}

li.twitter:hover{
    background-color: #1da1f2;
}

li.portfolio:hover{
    background-color: #e74c3c;
}

.portfolio{
    border: 1px solid #3f464d;
    border-left: 0;
    border-right: 0;
}

.twitter{
    position: relative;
    top:-44px;
    left: 125px;
    width: 125px;
}

.facebook{
    position: relative;
    bottom:0;
    right: 0;
    width:125px;
}



